:root {
    --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 50%);
    --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 73%);
    --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 100%);
    --color-btn-primary-text-dark: hsl(var(--color-base-hue), 100%, 50%);
    --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 60%);
    --color-btn-primary-background-light: hsl(var(--color-danger-hue), 100%, 100%);
    --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);
    --color-btn-danger-text: #000;
    --color-btn-border: #000;
}

.btn {
    border: 2px solid white;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family:  inherit;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 100ms ease-in-out;
}

.btn-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
}

.btn-primary:hover {
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-light);
    
}

.btn-danger {
    color: var(--color-btn-text);
    background-color: var(--color-btn-danger-background);
}

.btn-danger:hover {
    color: var(--color-btn-danger-background);
    background-color: var(--white);
}

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
   margin-left: 1rem;
}

.btn-row > *:first-child {
    margin-left: 0rem;
 }